<!DOCTYPE html>
<html>
<head>
    <title>Hasil Ujian {{ nama }}</title>
</head>
<body>
    <p>Assalamualaikum Wr. Wb Selamat Siang Ibu/Bapak {{ nama_ortu }},</p>
    <p>Selaku orang tua/wali {{ nama }}, kami sampaikan bahwa {{ nama }} telah menyelesaikan ujian dan mendapatkan hasil ujian:</p>
    <p>Score: {{ score }} dari {{ total_questions }} soal.</p>
    <p>Jumlah jawaban benar: {{ correct_count }}.</p>
    <p>Jumlah jawaban salah: {{ wrong_count }}.</p>
    <p>Terima kasih kami sampaikan, Wassalamualaikum Wr. Wb.</p>
    <p>Ttd, Akademik SMAN Balapulang 1</p>
</body>
</html>
