{% extends 'component/base.html' %}

{% block content %}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Data Admin</h4>
            <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Data Admin</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <a href="{{url_for('formRegistrasi')}}" class="btn btn-primary mb-4">Tambah Users</a>
            <div class="table-responsive">
                <table id="zero_config" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Status</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for admin in admin %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{admin.nama}}</td>
                            <td>{{admin.status}}</td>
                            <td>
                                <a href="/view-users/{{admin.id_user}}" class="btn btn-primary btn-sm"><i class="fa-solid fa-pen-to-square"></i></a>
                                <button type="button" class="btn btn-danger btn-sm delete" data-id="{{admin.id_user}}" data-nama="{{admin.nama}}" ><i class="fa-solid fa-trash" style="color: #f7f7f7;"></i></button>
                            </td>
                        </tr> 
                        {% endfor %} 
                    </tbody>           
                </table>
            </div>
        </div>
    </div>
</div>

<script>
    $('.delete').click(function () {
        var dataid = $(this).attr('data-id');
        var nama = $(this).attr('data-nama');
        swal({
            title: "Hapus Data ?"
            , text: "Menghapus Admin dengan Nama " + nama + " "
            , icon: "warning"
            , buttons: true
            , dangerMode: true
            ,
        })
            .then((willUpprove) => {
                if (willUpprove) {
                    window.location = "/delete-users/" + dataid + ""
                } else {
                    swal("Hapus dibatalkan");
                }
            });
    });

</script>


{% endblock %}
