{% extends 'component/base.html' %}

{% block content %}

<div class="page-breadcrumb">
    <div class="row">
        <div class="col-12 d-flex no-block align-items-center">
            <h4 class="page-title">Kelas</h4>
            <div class="ms-auto text-end">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Kelas</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <button type="button" class="btn btn-primary mb-4" data-bs-toggle="modal"
                data-bs-target="#KelasModal">Tambah Kelas</button>
            <div class="table-responsive">
                <table id="zero_config" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>Jurusan</th>
                            <th>Kelas</th>
                            <th>Aksi</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for kelas in kelas %}
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{kelas.jurusan}}</td>
                            <td>{{kelas.kelas}}</td>
                            <td>
                                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                                    data-bs-target="#UpdateKelasModal{{kelas.id_kelas}}"><i
                                        class="fa-solid fa-pen-to-square"></i></button>
                                <button type="button" class="btn btn-danger btn-sm delete" data-id="{{kelas.id_kelas}}"
                                    data-nama="{{kelas.kelas}}"><i class="fa-solid fa-trash"
                                        style="color: #f7f7f7;"></i></button>
                            </td>
                        </tr>

                        <!-- Modal -->
                        <div class="modal fade" id="UpdateKelasModal{{kelas.id_kelas}}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Update Kelas</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/update-kelas/{{kelas.id_kelas}}" method="post">
                                            <div class="form-group">
                                                <label for="kelas">Jurusan</label>
                                                <select name="id_jurusan" class="select2 form-select shadow-none"
                                                    style="width: 100%; height:36px;" required>
                                                    <option selected value="{{kelas.id_jurusan}}">{{kelas.jurusan}}</option>
                                                    {% for data in jurusan %}
                                                    <option value="{{data.id_jurusan}}">{{data.jurusan}}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="hue-demo">Nama Kelas</label>
                                                <input type="text" name="kelas" value="{{kelas.kelas}}"
                                                    class="form-control demo" placeholder="Kelas" required>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Update</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="KelasModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Tambah Kelas</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/insert-kelas" method="post">
                    <div class="form-group">
                        <label for="kelas">Jurusan</label>
                        <select name="id_jurusan" class="select2 form-select shadow-none"
                            style="width: 100%; height:36px;">
                            <option selected value="">Choose...</option>
                            {% for data in jurusan %}
                            <option value="{{data.id_jurusan}}">{{data.jurusan}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="hue-demo">Nama Kelas</label>
                        <input type="text" name="kelas" class="form-control demo" placeholder="Kelas" required>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    $('.delete').click(function () {
        var dataid = $(this).attr('data-id');
        var nama = $(this).attr('data-nama');
        swal({
            title: "Hapus Data ?"
            , text: "Menghapus Kelas dengan Nama " + nama + " "
            , icon: "warning"
            , buttons: true
            , dangerMode: true
            ,
        })
            .then((willUpprove) => {
                if (willUpprove) {
                    window.location = "/delete-kelas/" + dataid + ""
                } else {
                    swal("Hapus dibatalkan");
                }
            });
    });

</script>

{% endblock %}