<aside class="left-sidebar" style="background-color: rgb(104, 98, 94)">
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav" class="pt-4">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{{url_for('home')}}" aria-expanded="false"><i class="mdi mdi-view-dashboard"></i><span
                            class="hide-menu">Dashboard</span></a></li>
                {% if session['level'] == 'Admin' %}
                <li class="sidebar-item"><a class="sidebar-link has-arrow waves-effect waves-dark"
                        href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-account-multiple"></i><span
                            class="hide-menu">User</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="/data-rombel" class="sidebar-link"><i
                                    class="mdi mdi-account-multiple"></i><span class="hide-menu">Daftar Siswa
                                </span></a></li>
                        <!-- <li class="sidebar-item"><a href="{{url_for('dataSiswa')}}" class="sidebar-link"><i
                                    class="mdi mdi-account-multiple"></i><span class="hide-menu">Data Siswa
                                </span></a></li> -->
                        <li class="sidebar-item"><a href="{{url_for('dataGuru')}}" class="sidebar-link"><i
                                    class="mdi mdi-account-card-details"></i><span class="hide-menu">Data Guru
                                </span></a></li>
                        <!-- <li class="sidebar-item"><a href="{{url_for('dataSiswa')}}" class="sidebar-link"><i
                                    class="mdi mdi-account-box"></i><span class="hide-menu">Data Admin
                                </span></a></li> -->
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                        href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-book"></i><span
                            class="hide-menu">Akademik</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="{{url_for('tahunAkademik')}}" class="sidebar-link"><i
                                    class="fa-solid fa-school"></i><span class="hide-menu">Tahun Akademik
                                </span></a></li>
                        <li class="sidebar-item"><a href="{{url_for('jurusan')}}" class="sidebar-link"><i
                                    class="mdi mdi-bookmark"></i><span class="hide-menu">Data Jurusan
                                </span></a></li>
                        <li class="sidebar-item"><a href="{{url_for('kelas')}}" class="sidebar-link"><i
                                    class="mdi mdi-city"></i><span class="hide-menu">Data Kelas
                                </span></a></li>
                        <li class="sidebar-item"><a href="{{url_for('mapel')}}" class="sidebar-link"><i
                                    class="mdi mdi-book-open-variant"></i><span class="hide-menu">Data Mata Pelajaran
                                </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                    href="{{url_for('daftarNilai')}}" aria-expanded="false"><i class="fa-solid fa-chart-simple"></i><span
                        class="hide-menu">Daftar  Nilai</span></a></li>

                {% endif %}

                {% if session['level'] == 'Guru' %}
                <li class="sidebar-item"> <a class="sidebar-link has-arrow waves-effect waves-dark"
                        href="javascript:void(0)" aria-expanded="false"><i class="mdi mdi-book-open"></i><span
                            class="hide-menu">Kelola Soal Ujian</span></a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item"><a href="{{url_for('temaSoal')}}" class="sidebar-link"><i
                                    class="mdi mdi-book-plus"></i><span class="hide-menu">Jenis Ujian
                                </span></a></li>
                        <li class="sidebar-item"><a href="{{url_for('soal')}}" class="sidebar-link"><i
                                    class="mdi mdi-border-color"></i><span class="hide-menu">Soal Ujian
                                </span></a></li>
                    </ul>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{{url_for('hasilUjian')}}" aria-expanded="false"><i
                            class="mdi mdi-file-document"></i><span class="hide-menu">Hasil Ujian</span></a></li>
                {% endif %}

                {% if session['level'] == 'Siswa' %}
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{{url_for('listUjian')}}" aria-expanded="false"><i class="mdi mdi-lead-pencil"></i><span
                            class="hide-menu">Ujian</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{{url_for('hasil')}}" aria-expanded="false"><i class="mdi mdi-file-document"></i><span
                            class="hide-menu">Hasil Ujian</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{{url_for('profil')}}" aria-expanded="false"><i class="mdi mdi-account-box"></i><span
                            class="hide-menu">Profil</span></a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</aside>